
*{
  margin: 1%;

}

/* bootstrap-costum */


/* change the background color */
.navbar-custom {
  background-color: red;

}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-nav.ml-auto li a {
  color: black;
}


/* ------------------------ */
.frontBackground{
  
  border-radius: 0 0 30% 30%;
  background-color: red;
  background: -webkit-linear-gradient(90deg, white, red );
  margin-top: 0;
  margin-bottom: 2%;
}
.responsive100w{
  max-width: 100%;
  max-height: auto;
  margin: 0%;
}
.logoBanner{
  max-width: 100%;
  height: auto;
}
.logoImage{

width: 300px;
height: auto;

}

.pageContents{

    background-color: snow;
    opacity: 1;
    

}

.footer {
  margin-bottom: 1%;
}
.linkCards{
  margin-top: 1%;
  background-color: rgb(73, 100, 117);

  border-radius: 3% 3% 3% 3%;

  
}
.linkCards img{
  max-width: 95%;
  max-height: auto;
  border-radius: 30%;
  margin-bottom: 30px;
}
.linkCards img:hover{
  transform: scale(1.1); 
}

.newsCards img{
  max-width: 100%;
  max-height: auto;
  min-width: 100%;
  max-height: auto;
  display: block;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

footer {
  background: red;
  background: -webkit-linear-gradient(59deg, lightgray, #16222A);
  background: linear-gradient(0deg, red, rgb(73, 100, 117));
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 16px;
  transition-duration: 0.2s;
}



footer a:hover {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}



.social-network a.icoFacebook:hover i{
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-image: url(fbicon.jpg);
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}
