
*{
  margin: 1%;

}

.responsive100w{
  max-width: 100%;
  max-height: auto;
  margin: 0%;
}
.logoBanner{
  width: 100%;
  height: auto;
}
.logoImage{

width: 300px;
height: auto;

}

.pageContents{

    background-color: snow;
    opacity: 1;
    

}

.footer {
  margin-bottom: 1%;
}
.linkCards{
  margin-top: 1%;
}
.linkCards img{
  max-width: 95%;
  max-height: auto;
  border-radius: 30%;
  margin-bottom: 30px;
}
.linkCards img:hover{
  transform: scale(1.1); 
}

.newsCards img{
  max-width: 100%;
  max-height: auto;
  display: block;
}